.type-2022 {
  font-family: 'Crete Round', serif;
  background-color: #00a685;
  float: left;
  width: 100%;
  padding: 40px 0px;
}
.type-2022 .bx-wrapper {
  float: right;
  padding: 4px;
  background-color: #fff;
  border-radius: 5px;
  list-style: none;
  width: 465px;
  display: list-item;
  z-index: 50;
  position: relative;
  margin: 0 auto 0px;
}
.type-2022 .bx-wrapper .bx-viewport {
  left: 0px;
  -webkit-box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.type-2022 .bx-wrapper .bx-loading {
  min-height: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
.type-2022 .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  outline: 0;
  width: 50px;
  height: 60px;
  text-indent: -9999px;
  z-index: 9999;
}
.type-2022 .bx-wrapper .bx-prev {
  left: 0px;
  background: url(../img/controls.png) no-repeat right;
  opacity: 0.4;
}
.type-2022 .bx-wrapper .bx-next {
  right: 0px;
  background: url(../img/controls.png) no-repeat left;
  opacity: 0.4;
}
.type-2022 .bx-wrapper img {
  width: 100%;
  display: block;
  height: auto;
  max-width: 100%;
}
.type-2022 #bx-pager {
  float: left;
  width: 11.7%;
}
.type-2022 #bx-pager a:first-child {
  margin: 0px;
}
.type-2022 #bx-pager a:hover {
  cursor: pointer;
}
.type-2022 #bx-pager a {
  padding: 4px;
  margin: 14px 0px 0px 0px;
  background-color: #fff;
  border-radius: 5px;
  display: block;
}
.type-2022 #bx-pager img:hover {
  cursor: pointer;
}
.type-2022 #bx-pager a img {
  width: 100%;
}
.type-2022 .text {
  float: left;
  width: 100%;
  color: #0f1521;
}
.type-2022 .text h2 {
  font-size: 30px;
  font-weight: normal;
  margin: 0px 0px 15px 0px;
}
.type-2022 .text h5 {
  font-size: 16px;
  font-family: 'Crete Round', serif;
  font-weight: normal;
  margin: 0px 0px 15px 0px;
}
.type-2022 .text .reviews {
  float: left;
  width: 100%;
  margin: 0px 0px 15px 0px;
}
.type-2022 .text .reviews a {
  font-size: 16px;
  color: #000;
}
.type-2022 .text .reviews .rating {
  float: right;
  unicode-bidi: bidi-override;
  direction: rtl;
  display: inline-block;
}
.type-2022 .text .reviews .rating>span {
  font-size: 30px;
  color: #ffd200;
  width: auto;
}
.type-2022 .text .reviews .rating>span {
  display: inline-block;
  position: relative;
}
.type-2022 .text ul {
  float: left;
  width: 100%;
  list-style: none;
  margin: 30px -40px;
}
.type-2022 .text ul li a:hover {
  text-decoration: none;
}
.type-2022 .text ul li a {
  color: #0f1521;
  font-style: italic;
}
.type-2022 .course-category {
  text-align: right;
}
.type-2022 .course-category a {
  font-size: 14px;
  color: #fff;
  font-style: italic;
  text-decoration: none;
}
.type-2022 .course-category h3 {
  font-size: 18px;
  font-family: 'Crete Round', serif;
  color: #0f1521;
  margin: 0px;
  text-transform: uppercase;
  font-weight: normal;
}
@media (max-width: 1200px) and (min-width: 980px) {
  .bx-wrapper {
    width: 80% !important;
  }
}
@media (max-width: 979px) {
  #bx-pager {
    width: 100% !important;
    float: left;
  }
  #bx-pager a {
    float: left;
    width: 15.5%;
    margin: 14px 2px !important;
  }
}
@media (max-width: 768px) {
  .bx-wrapper {
    width: 100% !important;
    margin: 0px 0px 20px 0px;
  }
}
