@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/latin1.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/latin2.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local('Crete Round Italic'), local('CreteRound-Italic'), url(../fonts/latin3.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local('Crete Round Italic'), local('CreteRound-Italic'), url(../fonts/latin4.woff2) format('woff2');
}
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.type-2016 {
  background-color: #eeeeee !important;
}
.type-2016 .upcoming-events {
  background-color: #00a685;
  padding: 60px 0px;
  text-align: center;
  float: left;
  width: 100%;
}
.type-2016 .bxslider {
  width: auto;
  position: relative;
  margin: 0px;
}
.type-2016 .bxslider li {
  float: none;
  list-style: none;
  position: absolute;
  display: none;
  width: 100%;
  z-index: 0;
}
.type-2016 .bx-wrapper {
  max-width: 100%;
  position: relative;
  margin: 0 auto 0px;
  padding: 0;
}
.type-2016 .bx-wrapper img {
  width: 100%;
  display: block;
}
.type-2016 .bx-wrapper .bx-controls-direction a {
  position: absolute;
  margin-top: -25px;
  outline: 0;
  z-index: 9999;
  height: 25px;
  width: 25px;
  text-indent: 0;
  opacity: 1;
  top: 0px;
  margin: 0px;
}
.type-2016 .bx-wrapper .bx-prev {
  left: auto;
  right: 30px;
  background: url(../img/controls.png) no-repeat right;
  opacity: 0.4;
}
.type-2016 .bx-wrapper .bx-next {
  right: 0px;
  background: url(../img/controls.png) no-repeat left;
  opacity: 0.4;
}
.type-2016 .bx-wrapper .bx-prev:before,
.type-2016 .bx-wrapper .bx-next:before {
  content: "\f053";
  font-family: FontAwesome;
  color: #fff;
  font-size: 18px;
}
.type-2016 .bx-wrapper .bx-next:before {
  content: "\f054";
}
.type-2016 .bx-wrapper .bx-next:hover:before,
.type-2016 .bx-wrapper .bx-prev:hover:before {
  color: #000;
}
.type-2016 .bx-wrapper .bx-pager {
  display: none;
}
.type-2016 .bx-viewport {
  left: 0px;
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
}
.type-2016 .event-contant {
  float: left;
  width: 100%;
  text-align: left;
}
.type-2016 .event-contant .thumb {
  float: left;
  margin: 0px 30px 0px 0px;
  border-radius: 5px;
  overflow: hidden;
}
.type-2016 .event-contant .text {
  color: #fff;
}
.type-2016 .event-contant .text h2 {
  font-size: 30px;
  font-family: 'Crete Round', serif;
  font-weight: normal;
}
.type-2016 .event-contant .text h4 {
  font-size: 18px;
  font-style: italic;
  font-family: 'Crete Round', serif;
  font-weight: normal;
}
@media (max-width: 767px) {
  .type-2016 .pd-slide {
    padding: 0px 20px;
  }
  .type-2016 .upcoming-events {
    padding: 30px 0px;
  }
  .type-2016 .event-contant .thumb {
    width: 100%;
    margin: 30px 0px 0px 0px;
  }
}
