@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local('Crete Round Italic'), local('CreteRound-Italic'), url(../fonts/latin4.woff2) format('woff2');
}
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.type-2034 .navbar-nav>.open>a {
  background-color: #00a685;
  color: #fff;
}
.type-2034 .top-strip {
  float: left;
  width: 100%;
  border-top: 5px solid #00a685;
  padding: 20px 0px;
  border-bottom: solid 1px #e6e6e6;
}
.type-2034 #navbar.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;
}
.type-2034 #menu-strip {
  display: block;
  transition: display 0.5s ease-in-out;
}
.type-2034 .language .dropdown {
  margin-right: 20px;
  float: left;
  list-style: none;
  z-index: 1110;
}
.type-2034 .language .dropdown-toggle {
  font-size: 12px;
  color: #b2b2b2;
}
.type-2034 .account {
  float: right;
  list-style: none;
}
.type-2034 .account .dropdown-menu {
  left: auto;
  right: 0px;
  z-index: 1110;
}
.type-2034 .account .dropdown-menu li {
  width: 100%;
  margin: 0;
}
.type-2034 .account ul {
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.type-2034 .account li {
  display: inline-block;
  margin: 0px 10px;
}
.type-2034 .account a {
  font-size: 12px;
  color: #b2b2b2;
  text-decoration: none;
}
.type-2034 .account a:hover {
  color: #00a685;
}
.type-2034 .dropdown .caret {
  border-top: 4px solid #b2b2b2;
}
.type-2034 .dropdown a:hover,
.type-2034 .dropdown a:focus {
  text-decoration: none;
}
.type-2034 .dropdown a:hover {
  color: #00a685;
}
.type-2034 .dropdown a:hover .caret {
  border-top: 4px solid #00a685;
}
.type-2034 .dropdown-menu li a {
  display: block;
  padding: 6px 10px;
  font-weight: normal;
  line-height: 20px;
  white-space: nowrap;
  font-size: 12px;
  color: #b2b2b2;
}
.type-2034 .dropdown-menu li a:hover {
  background-color: #00a685;
  color: #ffffff;
}
.type-2034 .logo img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
.type-2034 .cart {
  float: right;
}
.type-2034 .cart ul {
  list-style: none;
}
.type-2034 .cart ul li {
  padding: 20px;
  float: left;
  border-left: solid 1px #e6e6e6;
  position: relative;
}
.type-2034 .cart ul li span {
  margin: 0px 0px 0px 5px;
}
.type-2034 .cart ul li a {
  color: #252525;
}
.type-2034 .cart ul .fa-search:hover {
  color: #00a685;
}
.type-2034 .cart ul li a.return {
  padding: 10px 20px;
  color: #fff;
  display: block;
  text-align: center;
  background-color: #00a685;
}
.type-2034 .cart ul li a.return:hover {
  background-color: #0fdfac;
}
.type-2034 .cart ul li:first-child {
  border: none;
}
.type-2034 .cart .dropdown-menu {
  width: 232px;
  left: 50%;
  margin: 0px 0px 0px -116px;
  padding: 20px;
  border-radius: 0px;
}
.type-2034 .search-bar {
  cursor: pointer;
}
.type-2034 .search-box {
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 0px 5px rgba(0,0,0,0.2);
  display: none;
  float: left;
  right: 100%;
  top: 0px;
  min-width: 700px;
  position: absolute;
  padding: 11px;
  margin: 0;
  z-index: 100;
}
.type-2034 .search-box input[type="text"] {
  border-radius: 0px;
  min-height: 37px;
  margin: 0px;
}
.type-2034 input[type="text"] {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  border-radius: 4px;
}
.type-2034 input[type="text"]:focus {
  border-color: #00a685;
  outline: none;
}
.type-2034 .input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.type-2034 .color {
  color: #00a685;
}
.type-2034 .logo {
  float: left;
  margin-top: 10px;
}
.type-2034 .navbar-header {
  margin-top: 10px;
  text-align: center;
}
.type-2034 .navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
  float: left;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
  margin: 0px 0px 6px 0px;
}
.type-2034 .navbar-default .navbar-nav li a:hover {
  color: #fff;
  background-color: #00a685;
}
.type-2034 .navbar-default .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.type-2034 .navbar-default .navbar-collapse .navbar-nav li ul {
  padding: 5px;
}
.type-2034 .navbar-default .navbar-collapse .navbar-nav li ul li a {
  padding: 6px 10px;
  color: #000;
}
.type-2034 .navbar-default .navbar-collapse .navbar-nav li ul li a:hover {
  color: #fff;
  background-color: #00a685;
}
@media (min-width: 1200px) {
  .type-2034 .navbar-collapse {
    float: right;
  }
  .type-2034 .cart ul li {
    padding: 27px 20px;
  }
  .type-2034 .search-box input[type="text"] {
    min-height: 50px;
  }
  .type-2034 .navbar-collapse .navbar-nav li a {
    padding: 27px 15px;
  }
}
@media (max-width: 1200px) and (min-width: 979px) {
  .type-2034 .logo {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .type-2034 .navbar-collapse .navbar-nav li a {
    padding: 20px 15px;
  }
}
@media (max-width: 1080) {
  .type-2034 .navbar-collapse.in {
    overflow-y: hidden;
  }
}
@media (max-width: 979px) {
  .type-2034 .cart ul li {
    border: none;
  }
  .type-2034 .search-box {
    min-width: 400px;
  }
}
@media (min-width: 768px) {
  .type-2034 .show-hover:hover > ul.dropdown-menu {
    display: block;
  }
}
@media (max-width: 767px) {
  .type-2034 .search-box {
    min-width: 280px;
    right: 0;
    top: 100%;
  }
  .type-2034 .logo {
    text-align: center;
    width: 100%;
  }
  .type-2034 .cart {
    width: 100%;
  }
  .type-2034 .cart ul {
    float: right;
  }
  .type-2034 .cart ul li {
    padding: 20px 20px 10px 20px;
  }
  .type-2034 .navbar-default .navbar-collapse {
    width: 100%;
    background-color: #f0f0f0;
    margin: 16px 0px 0px 0px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .type-2034 .navbar-default .navbar-collapse .navbar-nav li a {
    padding: 5px 10px;
  }
  .type-2034 .open .dropdown-menu {
    background-color: #fff;
  }
  .type-2034 .navbar-nav {
    margin: 0px;
  }
}
@media (max-width: 480px) {
  .type-2034 .language {
    width: 100%;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
  .type-2034 .language .dropdown {
    float: none;
    display: inline-block;
  }
  .type-2034 .language .dropdown-menu {
    right: 0px;
    left: auto;
    width: 100%;
  }
  .type-2034 .dropdown {
    float: none;
  }
  .type-2034 .account {
    text-align: center;
    float: none;
  }
  .type-2034 .account ul {
    width: 100%;
  }
  .type-2034 .account ul li {
    float: none;
    display: inline-block;
  }
  .type-2034 .cart {
    float: left;
    width: 100%;
  }
  .type-2034 .cart ul {
    text-align: center;
  }
  .type-2034 .cart ul li {
    padding: 10px;
    float: none;
    display: inline-block;
  }
  .type-2034 .search-box {
    min-width: 280px;
    right: 0;
    top: 100%;
    left: -420%;
  }
}
