.type-2029 {
  background-color: #eeeeee;
  padding-bottom: 50px;
  font-family: 'Crete Round', serif;
}
.type-2029 .text-detail {
  float: left;
  width: 100%;
  margin: 20px 0px;
}
.type-2029 .text-detail p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0 0 10px;
  outline: none;
}
.type-2029 .text-detail h2 {
  font-size: 30px;
  font-weight: normal;
}
.type-2029 .text-detail ul li {
  float: left;
  width: 100%;
  padding: 0px 0px 0px 20px;
  position: relative;
  margin: 5px 0px;
}
.type-2029 .text-detail ul li:before {
  content: "::";
  color: #333;
  font-size: 20px;
  position: absolute;
  left: 0px;
}
.type-2029 .text-detail ul li a {
  font-size: 20px;
  color: #00a685;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
}
.type-2029 .text-detail ul li a:hover {
  color: #1fd1ad;
}
.type-2029 .text-detail a:-webkit-any-link {
  cursor: auto;
}
.type-2029 .text-detail li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.type-2029 .text-detail ul {
  float: left;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  width: 100%;
  list-style: none;
}
.type-2029 .map {
  margin-top: 50px;
  border: 20px solid #fff;
}
.type-2029 .map .maps {
  width: 100%;
  border: 10px solid #fff;
}
@media (min-width: 481px) {
  .maps {
    height: 450px;
  }
}
@media (max-width: 480px) {
  .education-module-4 p {
    padding-top: 10px;
  }
  .education-module-4 .map img {
    width: 100%;
    padding-bottom: 15px;
  }
  .education-module-4 .admin .thumb img {
    width: 500px;
  }
  .education-module-4 .admin .social-icons {
    position: static;
    margin: 10px 0px 10px 0px;
    width: 100%;
  }
  .education-module-4 .text h2,
  .education-module-4 p {
    width: 100%;
  }
  .education-module-4 .leave-reply input[type="text"],
  .education-module-4 .leave-reply textarea {
    width: 100%;
  }
  .education-module-4 .leave-reply textarea {
    width: 100%;
  }
  .maps {
    height: 250px;
  }
}
