.bg-color {
  background-color: #E6E6FA;
}
.type-2019 {
  font-family: 'Crete Round', serif;
}
.type-2019 .sidebar {
  float: left;
  width: 100%;
}
.type-2019 .sidebar .widget {
  margin: 30px 0px 0px 0px;
  float: left;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.type-2019 .sidebar .widget-twitter {
  background-color: #0f1521;
  padding: 20px;
}
.type-2019 .widget-twitter h2 {
  color: #fff;
  margin-top: 10px;
}
.type-2019 .widget-twitter ul {
  list-style: none;
  float: left;
  width: 100%;
  padding: 0;
}
.type-2019 .widget-twitter ul li {
  float: left;
  width: 100%;
  padding: 0px 0px 0px 30px;
  position: relative;
  margin: 20px 0px 0px 0px;
}
.type-2019 .widget-twitter ul li:first-child {
  margin: 0px;
}
.type-2019 .widget-twitter ul li:before {
  content: "\f099";
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: FontAwesome;
  font-size: 25px;
  color: #00a685;
}
.type-2019 .widget-twitter ul li p {
  font-family: 'Crete Round', serif;
  color: #dcdcdc;
  margin: 0px;
}
.type-2019 .widget-twitter ul li a {
  font-family: 'Crete Round', serif;
  color: #00a685;
  text-decoration: none;
}
.type-2019 .widget-twitter ul li a:hover {
  color: #1fd1ad;
}
